<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="computer" class="com.example.first.ComputerInstructor" scope="prototype" init-method="init" destroy-method="destroy">
    <!--
    <constructor-arg ref="happy"></constructor-arg>-->

    <property name="fortuneService" ref="happy"/>

</bean>
    <bean id="gym" class="com.example.first.GymInstructor">

    </bean>
    <bean id="happy" class="com.example.first.HappyFortune">

    </bean>

</beans>